:root {
  --c-prymary-brand: #4d5ae5;
  --c-pressed-state: #404bbf;
  --c-dark: #2e2f42;
  --c-cloud: #f4f4fd;
  --c-success: #31d0aa;
  --c-text: #434455;
  --c-white: #fff;
  --c-background-accent: #e7e9fc;
  --c-background-hero: #2e2f42;
  --c-background-white: #ffffff;
  --c-background-light: #f4f4fd;
  --c-background-ocean: #404bbf;
  --c-background-prymary-brand: #4d5ae5;
  --c-background-darck: #1e1823;
  --c-background-modal: #fcfcfc;
}

/*Base*/

body {
  font-family: Roboto, sans-serif;
  color: var(--c-text);
  background-color: var(--c-background-white);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.section {
  padding: 120px 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.images {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/*header*/
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-border {
  display: flex;
  margin: 0;
  border-bottom: 1px solid var(--c-background-accent);
}

.header-nav {
  display: flex;
  align-items: center;
}

.link-logo {
  display: inline-block;
  margin-right: 76px;
  padding: 24px 0;
  font-family: Raleway, sans-serif;
  color: var(--c-prymary-brand);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--c-dark);
}
.nav-list {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 40px;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--c-dark);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--c-pressed-state);
}
.norm {
  font-style: normal;
  display: flex;
}

.address-menu {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 40px;
  justify-content: center;
}
.adress-link {
  padding: 24px 0;
  color: var(--c-text);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--c-pressed-state);
}

/*Main*/
.section-hero {
  background-color: var(--c-background-hero);
  padding: 188px 0;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  color: var(--c-white);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  color: var(--c-white);
  background-color: var(--c-background-prymary-brand);
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--c-background-ocean);
}
/*section*/

.advantage-list {
  display: flex;
  gap: 24px;
}

.team-wraper {
  display: flex;
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  padding: 120px 0;
  background-color: var(--c-background-light);
}
.advantage-item {
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}
.advantage-title {
  margin-bottom: 8px;
  color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantage-text {
  color: var(--c-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.photo-team {
  display: flex;
  gap: 24px;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.team-name {
  padding: 32px 0;
  text-align: center;
}
.photofon {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: var(--c-background-white);
}

.title-secondary {
  margin-bottom: 72px;
  color: var(--c-dark);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-caps {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  border: 1px solid var(--c-background-accent);
  border-top: none;
}
.section-dark {
  padding: 100px 0;
  background-color: var(--c-background-hero);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  color: var(--c-prymary-brand);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent-footer {
  color: var(--c-cloud);
}
.footer-text {
  max-width: 264px;
  color: var(--c-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
